/* GENERAL */
html {
    font-size: 62.5%;
   

}

body{
    font-size: 1.6rem;
    margin: 0px;
    color: #293241;
    font-family: 'Poppins', sans-serif;
}

main{
    margin: auto;
   text-align: center;
}

h1 {

    color: #505D68;
    font-size: 3.8rem;
    margin: 0px;
    font-weight: 700;

}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/* HEADER */

/* From codepen */
header {

    background-color: #e0fbfc;
    margin: 0px;
    border-radius: 3px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color:#3d5a80;
}

nav {

    text-align: right;
    /* width:50%; */
    padding-top: 10px;
}

nav a {
    background-color: initial;
    
    display: initial;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

nav ul li {
    padding: 8px 0;

}

nav ul li a {
    color: #505D68;
}

.toggle {
    font-size: 1.8rem;

}

.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.logo_name{
    font-size: 1.4rem;
    color: #3d5a80;
}
.tagline{
    font-size: 1.0rem;
}

/* hero */
.hero {
  
    background-color: #F2F5F7;
    margin: 0px;

}


.hero p {

    margin-top: 35px;
}
.hero-content{
    background-image:url(images/cover.jpg);
    background-size:cover;
    padding:40px;
    padding-bottom:75px;
}


form {
   
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* MDN webdocs reference */
input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* How it works */

.HIW{
    width:70%;
    margin: auto;
}
.step{
    margin: 60px 10px;
}

/* services */
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    width: 50%;
    margin: 20px;
    padding: 20px;
   background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* footer */
 footer {
     text-align: center;
     background-color: #333;
     color: #fff;
     padding: 10px;
 }

 footer p {
     font-size: 14px;
     line-height: 1.5;
     margin: 0;
 }


 /* ************************CONTACT PAGE******************************/

.contactus{
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  .contact-info {
      margin-bottom: 20px;
  }

  .contact-info p {
      margin: 5px 0;
  }

  .main-office {
      margin-top: 20px;
  }

  .email-form {
      margin-top: 20px;
  }