/* GENERAL */
html {
    font-size: 62.5%;
   

}

body{
    font-size: 1.8rem;
    margin: 0px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

main{
    margin: auto;
    text-align: justify;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#FF6347;
}
h1 {

    color: #FFFFFF;
    font-size: 3.8rem;
    margin: 0px;
   }


/* HEADER */

/* From codepen */
header {

    background-color: #FDF5E6;
    margin: 0px;
    border-radius: 3px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color:#FF6347;
}

nav {

    text-align: right;
    /* width:50%; */
    padding-top: 10px;
}

nav a {
    background-color: initial;
    
    display: initial;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

nav ul li {
    padding: 8px 0;

}

nav ul li a {
    color: #505D68;
}

.toggle {
    font-size: 1.8rem;

}

.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.logo_name{
    font-size: 1.4rem;
    
}
.tagline{
    font-size: 1.0rem;
    color:#333333;
}

/* hero */
.hero {
  
   
    margin: 0px;

}


.hero p {
    color:#f78009 ;
    margin-top: 35px;
}
.hero-content{
    background-image:url(images/cover.jpg);
    background-size:cover;
    background-position: center;
    padding:40px;
    padding-bottom:75px;
}


form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding:40px;
    
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}



input,
select,
textarea {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
   
}

input[type="submit"]{
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form h2{
    text-align: center;
}

/* How it works */

.HIW{
    width:70%;
    margin: auto;
}
.step{
    margin: 60px 10px;
}

 iframe {
     width: 100%;
     border: none;
 }
/* services */
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    width: 50%;
    margin: 20px;
    padding: 20px;
   background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.device1{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* footer */
 footer {
     text-align: center;
     background-color: #333;
     color: #fff;
     padding: 10px;
 }

 footer p {
     font-size: 14px;
     line-height: 1.5;
     margin: 0;
 }


 /* ************************SERVICES PAGE *****************************/


 table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
 }

 th,
 td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: left;
 }

 th {
     background-color: #f2f2f2;
 }
 /* ************************CONTACT PAGE******************************/

.contactus{
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  .contact-info {
      margin-bottom: 20px;
  }

  .contact-info p {
      margin: 5px 0;
  }

  .main-office {
      margin-top: 20px;
  }

  .email-form {
      margin-top: 20px;
  }

